* {
    box-sizing: border-box;
    font-family: myFont, Arial, Helvetica, sans-serif;
}

@font-face {
    font-family: myFont;
    src: url(Calculator.ttf);
}

html {
    position: relative;
    min-height: 100%;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
    gap: 50px;
}

.calculator {
    height: 500px;
    width: 400px;
    border: solid 20px gray;
    border-radius: 8px;
}

#buttons {
    height: 75%;
}

#footer p {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
}

.row {
    height: 25%;
    display: flex;
    justify-content: space-between;
}

#screen {
    height: 25%;
    background-color: lightgray;
    border-bottom: solid 20px grey;
    display: flex;
    flex-direction: column;
}

#screen1 {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: 25px;
    padding: 0 10px;
    color: rgb(41, 40, 40);
    height: 30%;
}

#screen2 {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: 50px;
    padding: 0 10px;
    height: 70%;
}

.calculator {
    display: flex;
    flex-direction: column;
    background-color: rgb(211, 196, 183);
}

#panel {
    display: flex;
    height: 80%;
}

#erase {
    height: 20%;
    display: flex;
    align-items: center;
}

#erase button {
    width: 50%;
    height: 70%;
    margin: 0 20px;
}

#left-panel {
    display:flex;
    flex-direction: column;
    flex-grow: 3;
    flex-basis: 0;
    margin: 0 10px;
}
#right-panel {
    flex-grow: 1;
    flex-basis: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

#left-panel button {
    width: 30%;
    height: 70%;
}

#right-panel button {
    width: 70%;
    height: 20%;
    border-radius: 100%;
    
}

button {
    border: solid 1px rgb(114, 113, 113);
}

#screen1 {
    height: 30%;
}

#screen2 {
    height: 70%;
}

button {
    font-size: 30px;
}

.buttonClickedLeft {
    transform: scale(1.1);
    border: solid 3px blue;
    background-color: lightblue;
}

.buttonClickedRight {
    transform: scale(1.1);
    border: solid 3px green;
    background-color: lightgreen;
}

.buttonClickedClear {
    transform: scale(1.1);
    border: solid 3px red;
    background-color: pink;
}

.buttonClickedClearAll {
    transform: scale(1.1);
    border: solid 3px rgb(83, 25, 25);
    background-color: brown;
}

.buttonClickedEqual {
    transform: scale(1.1);
    border: solid 3px orange;
    background-color: yellow;
}